<!-- views/error.handlebars -->
{{!-- {{#extend "layouts/main"}}
  {{#block "body"}} --}}
    <h1>Error</h1>
    <p>Sorry, something went wrong.</p>
    <p>{{message}}</p>
  {{!-- {{/block}}
{{/extend}} --}}
